.box-card {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid;
    gap: 2rem;
    /* espaço entre os cards */
}

.box-card>.card {
    flex: 1 1 calc(50% - 1rem);
    /* dois cards por linha com gap */
    margin-bottom: 1rem;
    box-sizing: border-box;
    /* importante para considerar padding/border no cálculo */
    height: 50rem;
    display: flex;
    flex-direction: column;
}


.card .cont {
    height: 80%;
    display: flex;
    flex-direction: row;
}

.card .cont img {
    width: 40%;
    height: auto;
    margin: 1rem;
}

.card .cont div {
    width: 60%;
    background-color: var(--bg);
    height: auto;
    margin: 1rem;
}

p {
    color: black;
    text-align: justify;
    margin: 0.5rem;
}

h2 {
    color: black;
}

button {
    width: 98%;
    padding: 1.2rem;
    background-color: var(--terciaria);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.6rem;
    cursor: pointer;
    margin-bottom: 0.5rem;
}

/*CSS DE CRIAR RESENHA--------------------------------------------*/
.card1 {
    height: 90%;
}

.its {
    display: flex;
    flex-direction: row;
    border: solid 1px red;
}

.cardimgsinopse {
    display: flex;
    flex-direction: row;
}
.sinopse{
    color:#f5f5f5;
}
.imgliv {
    margin: 2rem;
}

/* texto de sinopse */
.cardimgsinopse p {
    margin: 3rem;
    font-size: 2rem;
    text-align: start;
    align-items: start;
    color: var(--text);
}

.cardimgsinopse p {
    margin: 2rem;
}

.resenhabox {
    display: flex;
    text-align: start;
    margin: 0 2rem;
}

.resenha {
    height: 40rem;
    width: 97%;
    text-align: justify;
    color: black;
}

.botao1 {
    width: 98%;
    padding: 1.2rem;
    background-color: var(--terciaria);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.6rem;
    cursor: pointer;
    margin-bottom: 0.5rem;
    border: solid 1px red;
}

.rating {
    direction: rtl;
    unicode-bidi: bidi-override;
    display: inline-block;
}

.rating input {
    display: none;
}

.rating label {
    font-size: 2em;
    color: #ccc;
    cursor: pointer;
}

.rating input:checked~label,
.rating label:hover,
.rating label:hover~label {
    color: gold;
}

/*CSS DE cadastrar livro--------------------------------------------*/

.card2{
    height: 100%;
}

.titulo{
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.ismbimgano {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
    margin: 1rem;
    color: black;
  }
  
  .input-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 1rem 0.5rem;
  }

