.busca-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 5rem;
    padding: 1rem;
    box-sizing: border-box;
}
.busca-container > form{
    margin-top: 2rem;
}

.busca-container .contador{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 3rem;
    background-color: var(--principal);
}
.busca-container .contador span{
    padding: .4rem;
}
.box-card {
    display: flex;
    flex-wrap: wrap;
   
    gap: 2rem; /* espaço entre os cards */
}
.box-card>.card {
    flex: 1 1 calc(50% - 1rem);
    /* dois cards por linha com gap */
    margin-bottom: 1rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
}
   
.card .cont {
    height: 80%;
    display: flex;
    flex-direction: row;
}

.card .cont img {
    width: 40%;
    height: auto;
    margin: 1rem;
}

.card .cont div {
    width: 60%;
    background-color: var(--bg);
    height: auto;
    margin: 1rem;
    overflow: hidden;
}
.text{
    color: black;
    text-align: justify;
    margin: 1rem;
}
    .card .cont2 {
      
        height: 20%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    .card .cont2 .botao{
        width: 15rem;
        height: 4rem;
    }
    .margincard{
        margin-left:47%;
        column-gap: 20rem;
    }
    .sinopseBox2{
   background-color: white;
    color:black;
    margin-top:5%;
    width:24rem;
    height:3rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*para fotos pequenas*/
.fotos2{
    margin-left:1rem;
    width:15rem;
    height:15rem;
     overflow: hidden;
    object-fit: cover;
    /* mantém proporção e corta o excesso */
    object-position: center;
    /* centraliza o corte */
    margin: 1rem;  
}

/*Cor do container & botão caso o post for reprovado*/
.containR{
    background-color:#FA8072;
    width: 100%;
    display: flex;
    margin-bottom: 2rem;
    padding: 1rem 0rem 1rem 0rem
}

.containRBtn{
    background-color: #BB2222;
    margin-top:8rem;
    margin-left:100%;
    width:25rem;
    height:5rem;
}

/*Cor do container & botão caso necessario corrigir o post*/
.containC{
    background-color:#FFD700 ;
    width: 100%;
    display: flex;
    margin-bottom: 2rem;
    padding: 1rem 0rem 1rem 0rem
}

.ContainCBtn{
    background-color:#FFA500;
    margin-top:8rem;
    margin-left:100%;
    width:25rem;
    height:5rem;
}
/*CSS DE cadastrar livro--------------------------------------------*/
.textnotificaçao1{
    width: 100%;
    border-bottom: 2px solid var(--terciaria);
    color: var(--terciaria);
    font-weight: bold;
    padding-bottom: 0.5rem;
    margin: 3rem 0 0 0;
    text-align: center;
}
.card2{
    height: auto;
}

.titulo{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    font-size: 2rem;
}

.ismbimgano {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
    margin: 1rem;
    color: black;
    font-size: 2rem;
  }
  
  .input-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 1rem 0.5rem;
  }

  .teste{
    height: 2.5rem;
    color: black;
  }
  .botao2 {
    width: 98%;
    padding: 1.2rem;
    background-color: var(--terciaria);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.6rem;
    cursor: pointer;
    margin: 2rem 0;
}

/*CSS DE cadastrar autor--------------------------------------------*/
.pesquisa {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pesquisa input,
.pesquisa .botao{
    width: 30rem;
    color: #000;
}
.pesquisa .botao{
    margin-top: 1rem;
    color: #fff;
}

.autor-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: flex-start;
    margin: 2rem;
}

.autor-card {
    flex: 1 0 18%; /* Aproximadamente 5 por linha com espaçamento */
    max-width: 18%;
    min-width: 160px;
    background-color: var(--secundaria);
    border: 1px solid #ccc;
    border-radius: 8px;
        
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.2s ease;
    color: #fff;
}

.autor-card input[type="radio"] {
    display: none;
}

.autor-card label {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    color: black;
}

.autor-card img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 0.5rem;
}
.namebio{
    display: flex;
    flex-direction: row;
 
    gap: 2rem;
    margin: 1rem ;
    color: black;
    font-size: 2rem;
}
.card3{
    background-color: var(--principal);
    width: 100%;
    border-radius: 10px;
    padding: 1.5rem
}
.mensagem-sucesso {
    color: green;
}
.mensagem-erro {
    color: red;
}
.form1 {
    width: 100%;
}
.resenhabox1 {
    display: flex;
    text-align: start;
    margin: 0 2rem;
    font-size: 2rem;
}
.resenha1 {
    height: 40rem;
    width: 100%;
    text-align: justify;
    color: black;
}


/*GENERO*/

  .genero-container {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            justify-content: flex-start;
        }

        .genero-card {
            flex: 1 0 18%;
            max-width: 18%;
            min-width: 160px;
            background-color: var(--principal);
            border-radius: 10px;
            padding: 1rem;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
            text-align: center;
            transition: transform 0.2s ease;
            cursor: pointer;
            color: #fff;
        }

        .genero-card:hover {
            transform: scale(1.05);
        }

        .genero-card input[type="radio"] {
            display: none;
        }

        .genero-card label {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.5rem;
            cursor: pointer;
        }

        .genero-card img {
            width: 50px;
            height: 50px;
            object-fit: cover;
            border-radius: 8px;
        }


        
/*css abrir resenha-------------------------------------*/

.texto {
    color: #fff;
    text-align: justify;
    
}

.resultados{
    color:black;
}

.card1 {
    height: auto;
}

.its {
    display: flex;
    flex-direction: row;
}

.cardimgsinopse {
    display: flex;
    flex-direction: row;
    width:100%;
}
.cardimgsinopse .box-img{
    width: 20%;
}
.sinopse{
    color: #f5f5f5;
    margin: 0 2rem;
}
.imgliv {
    width: 20%;
    
}

.imagem1 {
    width: 10rem;
    height: 15rem;
    margin: 2rem;
}

/* texto de sinopse */
.cardimgsinopse .sinopse h1{
    font-size: 2rem;
    text-align: center;
    align-items: center;
}

.resenhabox {
    display: flex;
    text-align: start;
    margin: 0 2rem;
    font-size: 2rem;
    height: auto;


}
.resenha1 {
    height: 4rem;
    width: 97%;
    text-align: justify;
    color: black;
    overflow: scroll;
}

.resenha {
    height: 40rem;
    width: 97%;
    text-align: justify;
    color: black;
    overflow: scroll;
}


.botao1 {
    width: 98%;
    padding: 1.2rem;
    background-color: var(--terciaria);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.6rem;
    cursor: pointer;
    margin-bottom: 2rem;
}

.rating {
    direction: rtl;
    unicode-bidi: bidi-override;
    display: inline-block;
}

.rating input {
    display: none;
}

.rating label {
    font-size: 2rem;
    color: #ccc;
    cursor: pointer;
}

.rating input:checked~label,
.rating label:hover,
.rating label:hover~label {
    color: gold;
}
.box-resenha {
    background-color: #f5f5f5;
    margin: 2rem;
    padding-left: 4rem;  
    height: auto;
}
