/*css abrir resenha-------------------------------------*/

.texto {
    color: #fff;
    text-align: justify;

}

.card1 {
    height: auto;
}

.its {
    display: flex;
    flex-direction: row;
}

.cardimgsinopse {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.cardimgsinopse .box-img {
    width: 20%;
}

.sinopse {
    color: #f5f5f5;
    margin: 0 2rem;
    text-align:justify;
}

.imgliv {
    width: 20%;

}

.imagem1 {
    width: 10rem;
    height: 15rem;
    margin: 2rem;
}

/* texto de sinopse */
.cardimgsinopse .sinopse h1 {
    font-size: 2rem;
    text-align: center;
    align-items: center;
}

.resenhabox {
    display: flex;
    text-align: start;
    margin: 0 2rem;
    font-size: 2rem;
    height: auto;


}

.resenha {
    height: 40rem;
    width: 97%;
    text-align: justify;
    color: black;
    overflow: scroll;
}

.botao1 {
    width: 98%;
    padding: 1.2rem;
    background-color: var(--terciaria);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.6rem;
    cursor: pointer;
    margin-bottom: 2rem;
}

.rating {
    direction: rtl;
    unicode-bidi: bidi-override;
    display: inline-block;
}

.rating input {
    display: none;
}

.rating label {
    font-size: 2rem;
    color: #ccc;
    cursor: pointer;
}

.rating input:checked~label,
.rating label:hover,
.rating label:hover~label {
    color: gold;
}

.box-resenha {
    background-color: #f5f5f5;
    margin: 2rem;
    padding-left: 4rem;
    height: auto;
}


/*M-RESENHAS.php ----------------------------------------------------------*/

/*css da busca*/
.busca-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 5rem;
    padding: 1rem;
    box-sizing: border-box;
}

.busca-container>form {
    margin-top: 2rem;
}

.busca-container .contador {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 3rem;
    background-color: var(--principal);
}

.busca-container .contador span {
    padding: .4rem;
}

.box-card {
    display: flex;
    flex-wrap: wrap;

    gap: 2rem;
    /* espaço entre os cards */
}

.box-card>.card {
    flex: 1 1 calc(50% - 1rem);
    /* dois cards por linha com gap */
    margin-bottom: 1rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
}

.card .cont {
    height: 80%;
    display: flex;
    flex-direction: row;

}

.card .cont img {
    width: 40%;
    height: auto;
    margin: 1rem;
}

.card .cont div {
    width: 60%;
    background-color: var(--bg);
    height: auto;
    margin: 1rem;
    overflow: hidden;


}

.text {
    color: black;
    text-align: justify;
    margin: 1rem;
}

.card .cont2 {

    height: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.card .cont2 .botao {
    width: 15rem;
    height: 4rem;
}

.margincard {
    margin-left: 47%;
    column-gap: 20rem;
}

.sinopseBox2 {
    background-color: white;
    color: black;
    margin-top: 5%;
    width: 24rem;
    height: 3rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*para fotos pequenas*/
.fotos2 {
    margin-left: 1rem;
    width: 15rem;
    height: 15rem;
    overflow: hidden;
    object-fit: cover;
    /* mantém proporção e corta o excesso */
    object-position: center;
    /* centraliza o corte */
    margin: 1rem;
}

/*Cor do container & botão caso o post for reprovado*/
.containR {
    background-color: #FA8072;
  width: 100%;
    display: flex;
    margin-bottom: 2rem;
    padding: 1rem 0rem 1rem 0rem;
    align-items: space-around;
    flex-direction: row;
    height: auto;
        border-color: #FA8072;

}

.containRBtn {
    background-color: #BB2222;
    width: 25rem;
    height: 5rem;
    flex-direction: row;
    border-color: #BB2222;
    color: #FFF;
    padding: 0 2rem 0 0.5rem;
}

/*Cor do container & botão caso necessario corrigir o post*/
.corrigir {
    margin: 1rem 0 0 0;
    width: 100%;
}

.containC {
    background-color: #FFD700;
    width: 100%;
    display: flex;
    margin-bottom: 2rem;
    padding: 1rem 0rem 1rem 0rem;
    align-items: space-around;
    flex-direction: row;
    height: auto;
    border-color: #FFD700;
}

.ContainCBtn {
    background-color: #FFA500;
    width: 25rem;
    height: 5rem;
    flex-direction: row;
    border-color: #FFA500;
    color: black;
    padding: 0 2rem 0 0.5rem;
 
}

.resenha1 {
    height: 4rem;
    width: 97%;
    text-align: justify;
    color: black;
    overflow: scroll;
}

.display {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.text {
    color: black;
}

@media (max-width: 768px) {
    .display {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 1rem; /* opcional */
    }

    .ContainCBtn,
    .containRBtn {
        width: 80%; /* botão maior e responsivo */
        margin-top: 1rem;
    }

    .img1 {
        width: 60%; /* imagem menor no mobile */
        height: auto;
    }
}