/*ABRIR.php ----------------------------------------------------------*/

/*!!utilizados na main ou em cards (background azul)*/
.containA{
    background-color:var(--principal) ;
}
.fotos{
    width:20rem;
   
}
/*caixa de texto da sinopse*/
.sinopseBox{
    background-color:red;
    width:66rem;
    height:20rem;
    overflow:hidden;
}
/*deixar itens alinhados*/
.display{
    gap:20px;
    display:flex;
}
/*alinhar titulo com box*/
.margintitulos{
    margin-right:85rem;
}
/*alinhar titulo com box (tipo 2)*/
.margintitulos2{
    margin-right:38rem;
}
/*caixa de texto da resenha*/
.resenhaBox{
    background-color: white;
    width:90rem;
    height:20rem;
    overFlow: hidden; 
}
/*deixa o texto da resenha preto e ajeitar sua posição*/
.resenhaText{
    color:black;
    align-items: flex-start;
    justify-content: left;
}
/*um css para o botão*/
.btn{
    margin-top:1rem;
    background-color:var(--secundaria);
    width:25rem;
    height:5rem;

}

/*ATUALIZAR.php ----------------------------------------------------------*/
/*cor/css das estrelas (estrelas de avaliação)*/
.rating {
            direction: rtl;
            unicode-bidi: bidi-override;
            display: inline-block;
        }

        .rating input {
            display: none;
        }

        .rating label {
            font-size: 2em;
            color: #ccc;
            cursor: pointer;
        }

        .rating input:checked~label,
        .rating label:hover,
        .rating label:hover~label {
            color: gold;
        }
        .ratingstyle{

        }
        .avali{
            margin-left:10rem;
            margin-top:1.5rem;
        }

/*M-RESENHAS.php ----------------------------------------------------------*/

/*css da busca*/
.busca-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 5rem;
    padding: 1rem;
    box-sizing: border-box;
}
.busca-container > form{
    margin-top: 2rem;
}

.busca-container .contador{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 3rem;
    background-color: var(--principal);
}
.busca-container .contador span{
    padding: .4rem;
}
.box-card {
    display: flex;
    flex-wrap: wrap;
   
    gap: 2rem; /* espaço entre os cards */
}
.box-card>.card {
    flex: 1 1 calc(50% - 1rem);
    /* dois cards por linha com gap */
    margin-bottom: 1rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
}
   
.card .cont {
    height: 80%;
    display: flex;
    flex-direction: row;
    
}

.card .cont img {
    width: 40%;
    height: auto;
    margin: 1rem;
}

.card .cont div {
    width: 60%;
    background-color: var(--bg);
    height: auto;
    margin: 1rem;
    overflow: hidden;
    

}
.text{
    color: black;
    text-align: justify;
    margin: 1rem;
}
    .card .cont2 {
      
        height: 20%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    .card .cont2 .botao{
        width: 15rem;
        height: 4rem;
    }
    .margincard{
        margin-left:47%;
        column-gap: 20rem;
    }
    .sinopseBox2{
    background-color: white;
    color:black;
    margin-top:5%;
    width:24rem;
    height:3rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*para fotos pequenas*/
.fotos2{
    margin-left:1rem;
    width:15rem;
    height:15rem;
  
}
/*Cor do container & botão caso o post for reprovado*/
.containR{
    background-color:#FA8072;
    width: 100%;
    display: flex;
    margin-bottom: 2rem;
    padding: 1rem 0rem 1rem 0rem
}

.containRBtn{
    background-color: #BB2222;
    margin-top:8rem;
    margin-left:100%;
    width:25rem;
    height:5rem;
}

/*Cor do container & botão caso necessario corrigir o post*/
.containC{
    background-color:#FFD700 ;
    width: 100%;
    display: flex;
    margin-bottom: 2rem;
    padding: 1rem 0rem 1rem 0rem
}

.ContainCBtn{
    background-color:#FFA500;
    margin-top:8rem;
    margin-left:100%;
    width:25rem;
    height:5rem;
}
