
section.tela1 {
    border: 1px solid red;
    height: 100vh;
    width: 100%;
    background-color: #4A0000;
    color: #ffffff;
}

/* GERAL */

/* NAVBAR */
nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 40px;
    background-color: #4A0000;
    font-size: 1.6rem;
    border: 1px solid;
    display: flex;
   
}
nav div{
    border: 1px solid;
    width: 25%;
}
nav div.links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

nav img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.6rem;
}

nav a:hover {
    text-shadow: 0 0 5px #000a52;
}
nav a.active {
    background-color: #000a52; /* azul escuro */
    padding: 6px 10px;
    border-radius: 5px;
}

/* TEXTO DESTAQUE */
.letreiro {
    text-align: center;
    border: 1px solid;
    height: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.letreiro h3 {
    font-size: 15rem;
    margin: 0;
}
.letreiro h3.nome1 {
    text-indent: -20%;
}
.letreiro h3.nome2 {
    text-indent: 20%;
}

/*carrossel*/
.change-text {
    background-color: #000a52;
    border: 1px solid;
    width: 80%;
    height: 4rem; 
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 10%;
    margin-bottom: 0%;
    display: flex;
    align-items: center;
}
.change-text h3 {
    display: inline-flex;
    margin: 0;
    font-weight: 300;
    vertical-align: top;
}

.change-text h3 .word {
    position: absolute;
    display: flex;
    opacity: 0;
}

/*js letras*/
/*saida das letras*/
.change-text h3 .word .letter {
    transform-origin: center center 25px;
}

.change-text h3 .word .letter.out{
    transform: rotateX(90deg);
    transition: 0.32s cubic-bezier(0.6, 0, 0.7, 0.2);
}

/*entrada das letras*/

.change-text h3 .word .letter.in {
    transition: .38s ease;
}

.change-text h3 .word .letter.behind {
    transform: rotateX(-90deg);
}
