
section.tela1 {
    background-color: var(--principal);
    color: #ffffff;
}

/* TEXTO DESTAQUE */
.letreiro {
    text-align: center;
    height: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.letreiro h3 {
    font-size: 15rem;
    margin: 0;
}
.letreiro h3.nome1 {
    text-indent: -30%;
}
.letreiro h3.nome2 {
    text-indent: 30%;
}

/*carrossel*/
.change-text {
    background-color: #000a52;
    width: 80%;
    height: 4rem; 
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 10%;
    margin-bottom: 0%;
    display: flex;
    align-items: center;
}
.change-text h3 {
    display: inline-flex;
    margin: 0;
    font-weight: 300;
    vertical-align: top;
}

.change-text h3 .word {
    position: absolute;
    display: flex;
    opacity: 0;
}

/*js letras*/
/*saida das letras*/
.change-text h3 .word .letter {
    transform-origin: center center 25px;
}

.change-text h3 .word .letter.out{
    transform: rotateX(90deg);
    transition: 0.32s cubic-bezier(0.6, 0, 0.7, 0.2);
}

/*entrada das letras*/

.change-text h3 .word .letter.in {
    transition: .38s ease;
}

.change-text h3 .word .letter.behind {
    transform: rotateX(-90deg);
}
