.titulo {
    background-color: transparent;
    border: 3px solid var(--principal);
    border-radius: 15px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 8rem;
    margin: 2rem 0 0;
}

/*texto bem vindo do adm */
.titulo h3 {
    font-size: 2rem;
    color: #000;
}

/*submenu */
.avaliar {
    position: relative;
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* Card de avaliar */
.card1 {
    display: flex;
    flex-direction: row;
    /* Alinhar horizontalmente */
    align-items: center;
    justify-content: space-around;
    border: 1px solid #ccc;
    padding: 1rem;
    margin-bottom: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 15rem;
}

/* texto de informaçao dos resenhsotas */

.card1 .info {
    display: flex;
    flex-direction: column;
    color: var(--text);
    border: 1PX SOLID RED;
    width: 25%;
}

/* css do avaliar________________________________________________________________________ */

.cardimgsinopse {
    display: flex;
    flex-direction: row;
    border: solid red;
}
<<<<<<< Updated upstream
.imgavaliar{
    margin:2rem;
    border: solid red;
}
/* texto de sinopse */
.cardimgsinopse p{
margin:3rem;
border: solid red;
font-size: 1.6rem;
=======

.cardimgsinopse p {
    margin: 2rem;
>>>>>>> Stashed changes

}

.cardresenha {
    display: flex;
<<<<<<< Updated upstream
    border: solid red;
height: auto;

}

.cardresenha p{
margin: 2rem;
font-size: 1.6rem;
=======

}

.cardresenha p {
    margin: 2rem;
>>>>>>> Stashed changes

}

/* Seções internas */
.card section {
    background-color: var(--content-bg);
    color: var(--text-dark);
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 5px;
    border: solid 10px red;
}

/* Títulos das seções */
.card h3 {
    color: var(--text-light);
    margin-top: 1.5rem;
}

/* Autor */
.card .autor {
    margin-top: 1rem;
    font-style: italic;
    font-size: 0.9rem;
    color: var(--text-light);
}

.cardforms {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.notas {
    color: #000;
    width: 50%;
}

.resultado {
    color: #000;
}

.teste {
    color: #000;
    width: 25%;
}