.titulo {
    background-color: transparent;
    border: 3px solid var(--principal);
    border-radius: 15px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 8rem;
    margin: 2rem 0 0;
}

/*texto bem vindo do adm */
.titulo h3 {
    font-size: 2rem;
    color: #000;
}

/*submenu */
.avaliar {
    position: relative;
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* Card de avaliar */
.card1 {
    display: flex;
    flex-direction: row;
    /* Alinhar horizontalmente */
    align-items: center;
    justify-content: space-around;
    border: 1px solid #ccc;
    padding: 1rem 0;
    margin-bottom: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 15rem;
    width: 100%;
}

/* texto de informaçao dos resenhsotas */

.card1 .info {
    display: flex;
    flex-direction: column;
    color: var(--text);
    width: 25%;
}

/* css do avaliar________________________________________________________________________ */

.cardimgsinopse {
    display: flex;
    flex-direction: row;
}

.imgavalia {
    margin: 2rem;
}

/* texto de sinopse */
.cardimgsinopse p {
    margin: 3rem;
    font-size: 1.6rem;
    text-align: start;
    align-items: start;
}
.cardimgsinopse p {
    margin: 2rem;
}
.cardresenha {
    display: flex;
    height: auto;
}
.cardresenha p {
    margin: 2rem;
    font-size: 1.6rem;
}
.cardresenha p {
    margin: 2rem;
}
.cardresenha p {
    margin: 2rem;
}
/* Seções internas */
.card section {
    background-color: var(--content-bg);
    color: var(--text-dark);
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 5px;
}
/* Títulos das seções */
.card h3 {
    color: var(--text-light);
    margin-top: 1.5rem;
}
/* Autor */
.card .autor {
    margin-top: 1rem;
    font-style: italic;
    font-size: 0.9rem;
    color: var(--text-light);
}
.cardforms {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.barraenvia {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1rem;
}
.notas {
    color: #000;
    width: 45%;
    margin: 0 0 0 1rem;
}
.resultado {
    color: #000;
}
.teste {
    color: #000;
    width: 50%;
    margin: 0 0 0 1rem;
}
/* css do avaliar livraria________________________________________________________________________ */
.card2 {
    height: 60rem;
}

.layoutliv {
    display: flex;
    flex-direction: row;
}

.imgavalialiv {
    margin: 2rem;
}

.avalialiv {
    margin: 1rem;
    width: 100%;
    background-color: var(--text);
    justify-content: center;
    align-items: center;
}

p {
    color: #000;
    font-weight: normal;
    text-align: start;
    margin-left: 1rem;
}

strong {
    color: #000;
    font-weight: normal;
    text-align: start;
    margin-left: 1rem;
}

h2 {
    color: #000;
    font-weight: normal;
    text-align: start;
    margin-left: 1rem;
}

.barraenvia {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.notas {
    color: #000;
    width: 45%;
    margin: 0 0 0 1rem;
}
.resultado {
    color: #000;
}
.teste {
    color: #000;
    width: 50%;
    margin: 0 0 0 1rem;
}