/* Container geral do card */
.resenhista-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    color: var(--text);
}

.cardtext {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Informações alinhadas à esquerda */
.resenhista-info a {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
}

/* Contador de resenhas à direita */
.resenha-contador {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--bg);
    color: #000;

    border-radius: 4px;
    font-weight: bold;
    height: 50%;

}

.resenha-contador p {
    color: #000;
}