:root {
    --bg: #f0f0f0;
    --text: #f5f5f5;
    --principal: #56070C;
    --secundaria: #11114E;
}

main {
    margin-top: 10rem;
}

.categorias-container {
    width: 100%;
    position: relative;
    font-family: Arial, sans-serif;
    border: 1px solid red;
}


.categorias-toggle {
    background-color: #800000;
    color: white;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    width: 100%;
    text-align: left;
    font-size: 1.5rem;
    text-transform: uppercase;
    border-radius: 5px;
}

.generos {
    display: none;
    flex-direction: column;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    margin-top: 5px;
    border-radius: 5px;
    max-height: 300px;
    overflow-y: auto;
}

.generos div {
    padding: 10px;
}

.generos div:hover {
    background-color: #eee;
}

.generos a {
    text-decoration: none;
    color: #333;
}