:root {
    --bg: #f0f0f0;
    --text: #f5f5f5;
    --principal: #56070C;
    --secundaria: #11114E;
}

main {
    margin-top: 10rem;
}

/*GENEROS -------------------------------------------------------*/
.categorias-container {
    width: 100%;
    position: relative;
    font-family: Arial, sans-serif;
    transition: .5s ease-in-out;
    margin-top: 1rem;

}

.categorias-toggle {
    background-color: #800000;
    color: white;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 100%;
    font-size: 1.5rem;
    text-transform: uppercase;
    border-radius: 5px;
}

.generos {
    display: none;
    flex-direction: column;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    margin-top: 5px;
    border-radius: 5px;
    max-height: 30rem;
    overflow-y: auto;

}

.generos div {
    padding: 1rem;
}

.generos div:hover {
    background-color: #eee;
}

.generos a {
    text-decoration: none;
    color: #333;
}

/*RESENHAS -------------------------------------------------------*/

.resenhas-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}

.resenha {
    display: flex;
    gap: 1.5rem;
    border-radius: 1rem;
    transition: 0.3s ease-in-out;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;

}

.resenha:hover {
    transform: scale(0.97);
}

/* 1º estilo: 1, 5, 9, ... */
/* 2º estilo: 2, 6, 10, ... */
.resenhas-container .resenha:nth-child(4n + 1),
.resenhas-container .resenha:nth-child(4n + 2) {
    display: flex;
    flex-direction: column;
    width: 24%;
    height: 35vh;
}

.resenhas-container .resenha:nth-child(4n + 1) .resenha-imagem,
.resenhas-container .resenha:nth-child(4n + 2) .resenha-imagem {
    height: 17.5vh;
    padding: .5rem;
}

.resenhas-container .resenha:nth-child(4n + 1) .resenha-imagem img,
.resenhas-container .resenha:nth-child(4n + 2) .resenha-imagem img {
    height: 100%;
}

.resenhas-container .resenha:nth-child(4n + 1) .resenha-conteudo,
.resenhas-container .resenha:nth-child(4n + 2) .resenha-conteudo {
    height: 17.5vh;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.resenhas-container .resenha:nth-child(4n + 1) .resenha-conteudo h3,
.resenhas-container .resenha:nth-child(4n + 2) .resenha-conteudo h3 {
    font-size: 3rem;
    flex-wrap: wrap;
}

.resenhas-container .resenha:nth-child(4n + 1) .resenha-conteudo p,
.resenhas-container .resenha:nth-child(4n + 2) .resenha-conteudo p {
    font-size: 1rem;
}

.resenhas-container .resenha:nth-child(4n + 1) .cont-texto,
.resenhas-container .resenha:nth-child(4n + 2) .cont-texto {
    display: none;
}

/* 3º Estilo: Resenhas nos índices 3, 7, 11, ... */
.resenhas-container .resenha:nth-child(4n + 3) {
    flex-direction: row;
    width: 48%;
    height: 35vh;
    padding: 1rem;
}

/* Link da resenha com layout em linha (imagem + conteúdo) */
.resenhas-container .resenha:nth-child(4n + 3)>a {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
    gap: 1rem;
}

/* Container de informação (imagem + conteúdo) */
.resenhas-container .resenha:nth-child(4n + 3)>a>.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 55%;
    margin-left: 5%;
    height: 100%;
    padding: 1rem;
}


/* Imagem da resenha */
.resenhas-container .resenha:nth-child(4n + 3) .resenha-imagem {
    width: 10rem;
    object-fit: cover; 
    height: 100%;
    padding: 0;
}

.resenhas-container .resenha:nth-child(4n + 3) .resenha-imagem img {
    width: 10rem;
    height: auto;
    object-fit: contain;
}

/* Conteúdo da resenha (ao lado da imagem) */
.resenhas-container .resenha:nth-child(4n + 3) .info {
    padding: 2rem;
}
/* Conteúdo da resenha (ao lado da imagem) */
.resenhas-container .resenha:nth-child(4n + 3) .resenha-conteudo {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Título da resenha */
.resenhas-container .resenha:nth-child(4n + 3) .resenha-conteudo h3 {
    font-size: 3rem;
    margin: 0;
}

.resenhas-container .resenha:nth-child(4n + 3) .resenha-conteudo p {
    font-size: 1rem;
}

/* Sinopse ou texto abaixo do título */
.resenhas-container .resenha:nth-child(4n + 3) .cont-texto {
    margin-top: 1rem;
    padding: .5rem;
    border-radius: 1rem;
    text-align: justify;
    text-indent: 1rem;
    background-color: var(--bg);
}

/* 4º estilo: 4, 8, 12, ... */
.resenhas-container .resenha:nth-child(4n) {
    flex-direction: row;
    width: 98.5%;
    height: 35vh;
    padding: 1rem;
}

/* Link da resenha com layout em linha (imagem + conteúdo) */
.resenhas-container .resenha:nth-child(4n)>a {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 98%;
    height: 100%;
}

/* Container de informação (imagem + conteúdo) */
.resenhas-container .resenha:nth-child(4n)>a>.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 55%;
    margin-left: 5%;
    height: 100%;
    padding: 1rem;
}

/* Imagem da resenha */
.resenhas-container .resenha:nth-child(4n) .resenha-imagem {
    width: 40%;
    height: 100%;
    padding: 0;
}

.resenhas-container .resenha:nth-child(4n) .resenha-imagem img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Conteúdo da resenha (ao lado da imagem) */
.resenhas-container .resenha:nth-child(4n) .resenha-conteudo {
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Título da resenha */
.resenhas-container .resenha:nth-child(4n) .resenha-conteudo h3 {
    font-size: 3rem;
    margin: 0;
}

.resenhas-container .resenha:nth-child(4n) .resenha-conteudo p {
    font-size: 1rem;
}

/* Sinopse ou texto abaixo do título */
.resenhas-container .resenha:nth-child(4n) .cont-texto {
    margin-top: 1rem;
    padding: .5rem;
    border-radius: 1rem;
    text-align: justify;
    text-indent: 1rem;
    background-color: var(--bg);
}