@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {

    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style-type: none;
    color: #000;
    scroll-behavior: smooth;

}

:root {
    padding: 1rem;

    --bg: #DEDEDE;
    --text: #f5f5f5;
    --principal: #406E96;
    --secundaria: #2A4A64;
    --terciaria: #1F3A50;


    /* Transições */
    --transition-fast: 0.2s ease;
    --transition-base: 0.3s ease;

    --padding: 1rem;

    /* Controla a síntese de fontes (negrito, itálico) pelo navegador */
    font-synthesis: none;
    /* Otimiza a renderização do texto para melhor legibilidade */
    text-rendering: optimizeLegibility;
    /* Melhora a renderização de fontes em navegadores baseados em WebKit (Chrome, Safari) */
    -webkit-font-smoothing: antialiased;
    /* Melhora a renderização de fontes em navegadores Firefox no macOS */
    -moz-osx-font-smoothing: grayscale;

    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    /* Define o tamanho da fonte base como 10px (para facilitar o uso de rem) */
    font-size: 62.5%;
    /* Garante que o elemento html não seja maior que a largura da viewport */
    max-width: 100vw;
}

body {

    /* Define a fonte primária usando uma variável CSS */
    font-size: 1.6rem;

    /* Garante uma largura mínima de 320px para evitar layouts quebrados em telas pequenas */
    min-height: 100vh;

    /* Adiciona um preenchimento ao redor do conteúdo do body usando uma variável CSS */


    /* Força a exibição da barra de rolagem vertical, evitando o deslocamento de elementos quando o conteúdo se torna longo o suficiente para precisar da barra */
    overflow-y: scroll;

    margin: 0 auto;
    text-align: center;
    width: 100%;
}

main {
    height: 100vh;
    width: 80%;
    min-height: 100vh;
    border: solid 1px red;
    margin: 0 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    padding: var(--padding);
}


::-webkit-scrollbar {
    height: 0;
    width: 0.5rem;

}

::-webkit-scrollbar-track {
    background: var(--terciaria);
}

::-webkit-scrollbar-thumb {
    background: var(--text);
    border-radius: .5rem;
}

header {
    display: flex;
    align-items: center;
    height: 1.5rem;
    background-color: var(--terciaria);
    padding: 1rem 1rem 1rem 20rem;
}

