
/*CSS DA SEARCH BAR*/

.busca-container {
    display: flex;
    justify-content: space-between;
    float: right;
    padding-top: 1rem;
    width:100%;
}

/* card*/
.containerInput {
    background-color: var(--principal); /* Cor de fundo do container */
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

/*Input da contagem de usúarios*/

.linha {
    display: flex;
    align-items: center;
    gap: 8px; /* Espaçamento entre o texto e o input */
    margin-bottom: 8px; /* Espaço entre as linhas */
}

.textUsuario {
    font-weight: bold;
}
.inputContagem{
    width: 30%; /* Largura total do input */
    padding: 1rem;
    border: none;
    border-radius: 4px; 
    background-color: white; /* Cor de fundo do input */
    color: #000;
    display:flex;
    margin-left:105rem;
    border: solid 1px red;
}
/*Responsividade da DIV contagem de úsuarios*/

.inativo {
    background-color: rgba(119, 136, 153, .6);
}
.inputID {
    width: 70%; /* Largura total do input */
    padding: 1rem;
    border: none;
    border-radius: 4px; 
    margin-bottom: 15px;
    background-color: white; /* Cor de fundo do input */
    color: #000;
}
p {
     color: #000;
}
.containerBtnInput {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    
}