:root {
    padding: 1rem;
    --bg: #DEDEDE;
    --text: #f5f5f5;
    --principal: #406E96;
    --secundaria: #2A4A64;
    --terciaria: #1F3A50;
    /* Transições */
    --transition-fast: 0.2s ease;
    --transition-base: 0.3s ease;
    --padding: 1rem;
    /* Controla a síntese de fontes (negrito, itálico) pelo navegador */
    font-synthesis: none;
    /* Otimiza a renderização do texto para melhor legibilidade */
    text-rendering: optimizeLegibility;
    /* Melhora a renderização de fontes em navegadores baseados em WebKit (Chrome, Safari) */
    -webkit-font-smoothing: antialiased;
    /* Melhora a renderização de fontes em navegadores Firefox no macOS */
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*CSS DA SEARCH BAR*/

.busca-container {
    display: flex;
    justify-content: space-between;
    float: right;
    padding-top: 1rem;
    width:100%;
}

/* card*/
.containerInput {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 151.5rem;
}

/*Input da contagem de usúarios*/

.linha {
    display: flex;
    align-items: center;
    gap: 8px; /* Espaçamento entre o texto e o input */
    margin-bottom: 8px; /* Espaço entre as linhas */
}


.inativo {
    background-color: rgba(119, 136, 153, .6);
}
.inputID {
    width: 70%; /* Largura total do input */
    padding: 1rem;
    border: none;
    border-radius: 4px; 
    margin-bottom: 15px;
    background-color: white; /* Cor de fundo do input */
    color: #000;
}
p {
     color: #000;
}
.containerBtnInput {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    
}

/*CSS DO EDITAR USUARIO --------------------------------------------------------------*/

/* Estilos gerais */
/* Estilos do formulário */
.format {
    background-color: #1F3A50;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Título do formulário */
label {
    color: #fff;
    font-size: 16px;
    margin-bottom: 8px;
    display: block;
}

/* Estilos do select e input */
select, input[type="submit"] {
    width: 98%;
    padding: 10px;
    margin: 10px 0 15px 0; /* Espaço inferior entre os elementos */
    background-color: #2A4A64;
    color: white;
    border: 1px solid #406E96;
    border-radius: 2%; /* Border-radius aplicado a todos os inputs e select */
    font-size: 14px;
}

/* Estilos do botão de envio */
input[type="submit"] {
    background-color: #406E96;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Efeito de hover no botão */
input[type="submit"]:hover {
    background-color: #2A4A64;
}

/*CSS DO CADASTRAR USUÁRIO --------------------------------------------------------------*/

/* Estilos do formulário */
.format2 {
    background-color: var(--terciaria);
    max-width: 600px;
    margin: 20px auto;
    padding: 1rem 1.5rem 1rem 1rem;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Título do formulário */
label {
    color: #fff;
    font-size: 16px;
    margin-bottom: 8px;
    display: block;
}

/* Estilos dos inputs e select <-- Está sendo utilizado no Cadastrar usuário & Cadastrar resenhista para otimizar o código*/
select, .inputEditar2[type="text"], .inputConfirmar[type="submit"], .inputEditar2[type="number"], .inputEditar2[type="email"], .inputEditar2[type="url"], textarea {
    width: 98%;
    padding: 10px;
    margin: 10px 0 15px 0; /* Aumentei o espaço inferior entre os inputs */
    background-color: var(--secundaria);
    color: white;
    border: 1px solid #406E96;
    border-radius: 2%; /* Border-radius aplicado a todos os inputs */
    font-size: 14px;
}

/*Para deixar todos os inputs do mesmo tamanho (Foi necessario implementar esse width de forma separada no select)*/
select {
    width: 101.5%;
}
.inputConfirmar[type="submit"] {
    width: 101.5%;
}
.inputEditar2[type="password"], textarea {
    width: 98%;
}


/* Estilos do botão de envio */
.inputConfirmar[type="submit"] {
    background-color: var(--principal);
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Efeito de hover no botão */
.inputConfirmar[type="submit"]:hover {
    background-color: var(--secundaria);
}

/* Estilos responsivos */
@media (max-width: 768px) {
    form {
        padding: 15px;
    }

    label {
        font-size: 14px;
    }

    select, .inputConfirmar[type="submit"], .inputEditar2[type="text"], .inputEditar2[type="number"], .inputEditar2[type="email"], .inputEditar2[type="url"], textarea {
        font-size: 14px;
        padding: 8px;
    }
}