.card-livro {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start; /* Evita grandes espaços em branco */
    width: 100%; /* garante que o card não ultrapasse a tela */
    margin: 2rem auto;
    background-color: var(--principal);
    color: var(--text);
    border-radius: .8rem;
    padding: 1rem;
    box-sizing: border-box;
    border: solid 1px red;
}

.card-livro .informacoes {
    text-align: left;
    flex: 1 1 60%; /* torna responsivo */
    min-width: 15rem; /* evita ficar muito estreito */
}

.card-livro .imagem {
    flex: 0 0 auto;
    width: 12rem;
    height: 18rem;
}
.card-livro .informacoes .input{
         width: 80%;
}
