.card-livro {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    width: 100%;  
}

.informacoes {
    width: 60%;
    color: #000;
}

